{% extends 'layout.html' %}
{% block title %}Start EDA and Feature Engineering{% endblock title %}
{% block header %}Start EDA and Feature Engineering{% endblock header %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 overflow-auto sticky-top sticky-offset border vh-100" style="border-right: 1px solid #000;">
            <h3>Inputs</h3>
            <p><strong>File: </strong>{{inputs["path"]}}</p>
            <p><strong>Target: </strong>{{inputs["target"]}}</p>
            <p><strong>Test Size:</strong> {{inputs["test_size"]}}</p>
            <p><strong>Random State: </strong>{{inputs["random_state"]}}</p>
            <p><strong>Shuffle: </strong>{{inputs["shuffle"]}}</p>
            <p><strong>Is Classification: </strong>{{inputs["is_classification"]}}</p>
            <p><strong>Categorical Columns: </strong>
            <ul>
                {% for categorical in inputs["categorical_columns"] %}
                <li>{{categorical}}</li>
                {% endfor %}
            </ul>
            </p>
            <p><strong>Numeric Columns: </strong>
            <ul>
                {% for numeric in inputs["numeric_columns"] %}
                <li>{{numeric}}</li>
                {% endfor %}
            </ul>
            </p>

            <p><a href="/start"><button class="btn btn-primary">Start EDA and Feature Enginerring</button></a></p>
        </div>
        <div class="col-sm overflow-auto">
            {% for dataset in datasets %}
            <h4>{{dataset["name"]}}</h4>
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            {% for column in dataset["columns"] %}
                                <th>{{ column }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in dataset["data"] %}
                            <tr>
                                {% for cell in row %}
                                    <td>{{ cell }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <br>

            {% endfor %}

        
        
        </div>
</div>


{% endblock body %}
